.app-container,
.app-form-container {
  height: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-form-container {
  width: 30em;
}

.app-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  button {
    padding: 1em;
    flex: 1;
  }
}

@media (max-width: 768px) {
  .app-form-container {
    width: 100%;
  }
}
