.app-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  span {
    font-size: 3em;
    letter-spacing: 4px;
    font-family: var(--app-logo-font-family);
    color: var(--app-logo-font-color);
  }
}