.download-progress-container {
  padding: 1em 0;
  .list-header {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .progress-container {
    display: flex;
    align-items: center;
    div {
      &:nth-child(1) {
        flex: 4;
      }
      &:nth-child(2) {
        margin-left: 4px;
        flex: 1;
      }
    }
  }
  .downloading-container {
    display: grid;
    grid-template: "thumb name" 2em
                   "thumb size" 2em
                   / 1fr 4fr;
    padding: 0.5em 0;
    &:nth-child(:last-child) {
      padding-bottom: 1.5em;
    }
    .item-thumb {
      grid-area: thumb;
      height: 4em;
      margin-right: 1em;
      min-width: 7em;
    }  
    .item-name {
      grid-area: name;
      font-size: 0.9em;
      font-weight: 500;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;    
    }
    .item-size {
      grid-area: size;
      align-self: end;
      font-size: 0.8em;
      font-weight: 500;
    }
  }
  
}