.download-list-container {
  padding: 1em 0;
  .list-header {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .item-row-container {
    position: relative;
    &.is-open .item-actions-container {
      opacity: 1;
      max-height: 4em;
      transform: translateY(0%);
    }
    &:last-child .item-row-divider {
      opacity: 0;
    }
  }
  .item-container {
    display: grid;
    grid-template: "thumb name" 2em
                    "thumb size" 2em
                    / 1fr 4fr;
    padding: 0.5em 0;
    .item-thumb {
      grid-area: thumb;
      height: 4em;
      margin-right: 1em;
      min-width: 7em;
    }  
    .item-name {
      grid-area: name;
      font-size: 0.9em;
      font-weight: 500;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .item-size {
      grid-area: size;
      align-self: end;
      font-size: 0.8em;
      font-weight: 500;
    }
    .size-container {
      display: flex;
      justify-content: space-between;
    }
  }
  .item-actions-container {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(-20%);
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: 0.25s ease-out all;
    button, a {
      outline: none;
      opacity: 0.6;
    }
    .play-item .bp3-icon {
      color: var(--icon-play-color);
    }
    .download-item .bp3-icon {
      color: var(--icon-download-color);
    }
    .remove-item .bp3-icon {
      color: var(--icon-remove-color);
    }
    .delete-item .bp3-icon {
      color: var(--icon-delete-color);
    }
    .retry-item .bp3-icon {
      color: var(--icon-retry-color);
    }
  }
}