.video-url-submit-form {
  .input-container {
    display: flex;
    margin-bottom: 2em;
    button {
      padding: 11px 1.3em;
      border-top: 1px dashed rgba(16, 22, 26, 0.4);
      border-left: 1px dashed rgba(16, 22, 26, 0.4);
      border-bottom: 1px dashed rgba(16, 22, 26, 0.4);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .url-input {
    flex: 1;
    input {
      height: 40px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}