@import "~normalize.css";

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

@import url('https://fonts.googleapis.com/css?family=Monoton&text=Accio&display=swap');

:root {
  --app-logo-font-family: 'Monoton', cursive;
  --app-logo-font-color: rgba(255, 255, 255, 0.5);
  --icon-play-color: #{$green5};
  --icon-download-color: #{$blue5};
  --icon-remove-color: #{$orange5};
  --icon-delete-color: #{$red5};
  --icon-retry-color: #{$violet5};
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: $dark-gray2;
}