.video-info-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  .video-format-thumbnail-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .bp3-divider {
      height: 1em;
    }
  }
  .video-format-container-header {
    text-align: center;
    margin: 1em 0;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .video-format-container {
    display: flex;
    overflow-x: auto;
    margin-bottom: 1em;
  }
  .video-format-card {
    min-width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
  }
  .video-format-thumbnail {
    width: 100%;
    margin-bottom: 0.5em;
  }
}