.login-form-container,
.login-form {
  height: inherit;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 30em;
}

.username-input,
.password-input {
  margin-bottom: 2em;
  input {
    height: 40px;
  }
}